.row {
    display: block;
    width: 100%;
    border-bottom: 1rem;
}

.row .right {
    text-align: right;
    float: none;
}

.container form {
    width: 70%;
    max-width: 640px;
    margin: 5rem auto;
    margin-top: 0;
}

label {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    color: gray;
}

input {
    font-family: "Roboto", sans-serif;
    font-weight: normal;

    height: 3rem;
    width: 100%;
    margin-bottom: 20px;

    border: none;
    border-bottom: 1px solid #9e9e9e;

    background-color: transparent;
}

input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #4CAF50;
    border-radius: 0.5px;
    transition: all .3s ease-out;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .5px;

    color: white;
    background-color: #4CAF50;

    border-style: none;
    border-radius: 2px;
    height: 45px;
    line-height: 45px;
    padding: 0 2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.right {
    float: right;
    margin-left: 0.5rem;
}

button:hover {
    background-color: #66BB6A;
    box-shadow: 0 3px 7.5px 0 rgba(0, 0, 0, 0.16), 0 3px 15px 0 rgba(0, 0, 0, 0.12);

    transition: all .3s ease-out;
}

button:focus {
    outline: none;
    background-color: #66BB6A;
    transition: all .3s ease-out;
}

button:active {
    background-color: #A5D6A7;
    transition: all .3s ease-out;
}

.flat-btn a {
    text-transform: uppercase;
    letter-spacing: .5px;
}

.flat-btn a span {
    display: inline-block;
    padding: 1rem 2rem;
    height: 100%;
    border-radius: 2px;
}

.flat-btn a span:hover {
    background-color: #A5D6A7;
    transition: all .3s ease-out;
}

.flat-btn a span:focus {
    background-color: #A5D6A7;
}

.flat-btn a span:active {
    background-color: #66BB6A;
    transition: all .3s ease-out;
}

th {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: left;
}

td {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-align: left;
}
