/* Navbar related */
nav { background-color: #4CAF50; }

.nav-wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
}

.brand-logo img {
    height: 32px;
    vertical-align: middle;
}

/* Sidebar related */
.navbar-fixed { z-index: 9999; }

.side-nav.fixed { padding-top: 74px; }

header, main, footer { padding-left: 300px; }

@media only screen and (max-width : 992px) {
    header, main, footer { padding-left: 0; }
}

/* Website Visuals */
body {
    background-color: #E8F5E9;
}